# PHYS3116 Computational Assessment: Area 51 Interns

In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

## Introduction to assessment
**Option 1: Accreted Milky Way Globular Clusters**

Using data from the Harris Catalogue of Milky Way globular clusters and vandenBerg et al. (2013), use
stellar population (metallicities [Fe/H] and ages) and dynamical information to identify potentially
accreted globular clusters. Consider if there are some globular clusters that stand out in the agemetallicity relation or that do not rotate with the bulk of other globular clusters.

Consider what the above findings might mean for how the Milky Way formed and how many of its
globular clusters could be accreted and how many may have formed within the Milky Way. Consider
what further tests could be performed to delineate various possible formation scenarios.

Reformatted .csv versions of relevant data tables have been uploaded to Moodle for convenience.

## 1) Extracting data from .csv files

- Extracting stellar population (metallicities [Fe/H] and ages) information from Krause21.csv by Dan.

In [ ]:
# Extract the metallicity and age of a series of globular clusters
krause = pd.read_csv('Krause21.csv')
krause['FeH'] = pd.to_numeric(krause['FeH'], errors='coerce')
krause['Age'] = pd.to_numeric(krause['Age'], errors='coerce')

  Class   Object     AltName  Mstar    rh    C5    Age   FeH
0    GC   NGC104       47Tuc   6.46  7.10  0.92  12.80 -0.76
1    GC   NGC288    Melotte3   0.46  9.80  0.05  12.20 -1.32
2    GC   NGC362    Dunlop62   2.50  3.50  0.72  10.00 -1.26
3    GC  NGC1261  Caldwell87   3.41  5.50  0.62  10.24 -1.08
4    GC  NGC1851   Dunlop508   5.51  3.05  1.81   7.64 -1.13

- Extracting stellar population (metallicities [Fe/H] and ages) dynamical information from HarrisPartI.csv and HarrisPartIII.csv by Trong.

In [14]:
# Import data from HarrisPartI.csv and HarrisPartIII.csv
harris_p1 = pd.read_csv('HarrisPartI.csv')
harris_p3 = pd.read_csv('HarrisPartIII.csv')

# Extract dynamical information from HarrisPartIII.csv
# Except "ID" and "mu_V" which is surface brightness (photometric, not directly dynamical)
for col_name in harris_p3.columns:
    if col_name not in ["ID", "mu_V"]:
        harris_p3[col_name] = pd.to_numeric(harris_p3[col_name], errors='coerce')

- Extracting stellar population (metallicities [Fe/H] and ages) from vandenBerg_table2.csv by Frank.

In [ ]:
# Import data from HarrisPartI.csv and HarrisPartIII.csv
vandenberg = pd.read_csv('vandenBerg_table2.csv')
vandenberg['FeH'] = pd.to_numeric(vandenberg['FeH'], errors='coerce')
vandenberg['Age'] = pd.to_numeric(vandenberg['Age'], errors='coerce')

,#NGC,Name,FeH,Age,Age_err,Method,Figs,Range,HBtype,R_G,M_V,v_e0,log_sigma_0
0,104,47Tuc,-0.76,11.75,0.25,V,14,11.50–11.75,-0.99,7.4,-9.42,54.8,5.061
1,288,XXXX,-1.32,11.50,0.38,H,24,NaN,0.98,12.0,-6.75,10.9,2.953
2,362,XXXX,-1.30,10.75,0.25,V,13,10.75–11.00,-0.87,9.4,-8.43,44.4,4.938
3,1261,XXXX,-1.27,10.75,0.25,V,13,10.75–11.25,-0.71,18.1,-7.80,23.6,3.913
4,1851,XXXX,-1.18,11.00,0.25,V,13,10.75–11.25,-0.32,16.6,-8.33,47.6,5.136